{% extends "base.html" %} {% block html_lang %}{{ article.lang }}{% endblock %}
{% block title %}{{ SITENAME }} - {{ article.title|striptags }}{% endblock %} {%
block head %} {{ super() }} {% import 'translations.html' as translations with
context %} {% if translations.entry_hreflang(article) %} {{
translations.entry_hreflang(article) }} {% endif %} {% if article.description %}
<meta name="description" content="{{article.description}}" />
{% endif %} {% for tag in article.tags %}
<meta name="tags" content="{{tag}}" />
{% endfor %} {% endblock %} {% block content %}
<main>
  <article class="viewport-check" data-viewport-class="in-viewport">
    <time datetime="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </time>
    <h2>{{ article.title }}</h2>
    <p>{{ article.content }}</p>
    <div class="article-nav">
      {% for tag in article.tags %}
      <a class="category" href="{{ SITEURL }}/tag/{{ tag }}.html">
        {{ tag }}
      </a>
      {% endfor %}
    </div>
  </article>
</main>
{% endblock %}
