<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
  <head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/theme/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Primary Meta Tags -->
    <meta
      name="title"
      content="{% block title %}{{ SITENAME }}{% endblock title %}"
    />
    <meta name="description" content="Internetin rakentajan lokikirja." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mrjaamo.com/" />
    <meta
      property="og:title"
      content="{% block title %}{{ SITENAME }}{% endblock title %}"
    />
    <meta
      property="og:description"
      content="Internetin rakentajan lokikirja."
    />
    <meta
      property="og:image"
      content="https://mrjaamo.com/theme/images/mrjaamo-og-image.jpg"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://mrjaamo.com/" />
    <meta
      property="twitter:title"
      content="{% block title %}{{ SITENAME }}{% endblock title %}"
    />
    <meta
      property="twitter:description"
      content="Internetin rakentajan lokikirja."
    />
    <meta
      property="twitter:image"
      content="https://mrjaamo.com/theme/images/mrjaamo-og-image.jpg"
    />

    {% if FEED_ALL_ATOM %}
    <link
      href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
      type="application/atom+xml"
      rel="alternate"
      title="{{ SITENAME }} Full Atom Feed"
    />
    {% endif %} {% if FEED_ALL_RSS %}
    <link
      href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}"
      type="application/rss+xml"
      rel="alternate"
      title="{{ SITENAME }} Full RSS Feed"
    />
    {% endif %} {% if FEED_ATOM %}
    <link
      href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}"
      type="application/atom+xml"
      rel="alternate"
      title="{{ SITENAME }} Atom Feed"
    />
    {% endif %} {% if FEED_RSS %}
    <link
      href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}"
      type="application/rss+xml"
      rel="alternate"
      title="{{ SITENAME }} RSS Feed"
    />
    {% endif %} {% if CATEGORY_FEED_ATOM and category %}
    <link
      href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}"
      type="application/atom+xml"
      rel="alternate"
      title="{{ SITENAME }} Categories Atom Feed"
    />
    {% endif %} {% if CATEGORY_FEED_RSS and category %}
    <link
      href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}"
      type="application/rss+xml"
      rel="alternate"
      title="{{ SITENAME }} Categories RSS Feed"
    />
    {% endif %} {% if TAG_FEED_ATOM and tag %}
    <link
      href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}"
      type="application/atom+xml"
      rel="alternate"
      title="{{ SITENAME }} Tags Atom Feed"
    />
    {% endif %} {% if TAG_FEED_RSS and tag %}
    <link
      href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}"
      type="application/rss+xml"
      rel="alternate"
      title="{{ SITENAME }} Tags RSS Feed"
    />
    {% endif %} {% endblock head %}
  </head>
  <body>
    <header>
      <canvas></canvas>
      <div>
        <h1>
          <a href="/" title="Palaa etusivulle">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1492 173">
              <path
                d="M56 124h123l-6 49H0L21 0h173l-13 111H69l7-49h61l2-13H65Zm303 49h-50l15-124h-12l-15 124h-50l16-124h-13l-15 124h-49L207 0h173Zm77-124-15 124h-50L392 0h173l-13 111h-42l55 62h-70l-55-62 7-49h61l2-13Z"
              />
              <path
                d="m557 173 6-49h123L702 0h49l-21 173ZM763 0h173l-21 173h-49l7-62h-74l-7 62h-50Zm44 49-2 13h74l2-13ZM949 0h173l-21 173h-50l8-62h-74l-8 62h-49Zm43 49-1 13h74l1-13Zm294 124h-49l15-124h-12l-16 124h-49l15-124h-12l-15 124h-50l21-173h173Zm34-173h173l-21 173h-173Zm43 49-9 75h74l9-75Z"
              />
            </svg>
          </a>
        </h1>
        <p>Internetin rakentajan lokikirja</p>
      </div>
    </header>
    {% block content %} {% endblock %}
    <footer>
      <a href="https://twitter.com/mrjaamo" target="_blank">Twitter</a>
      <a href="https://fi.linkedin.com/in/jaamo" target="_blank">LinkedIn</a>
      <a href="https://github.com/jaamo/" target="_blank">GitHub</a>
    </footer>
    <script src="/theme/js/script.js"></script>
  </body>
</html>
