{% extends "base.html" %} {% block content %}
<main>
  {% for article in articles_page.object_list %}
  <article
    class="viewport-check {% if article.cover is defined %}with-image{% endif %}"
    data-viewport-class="in-viewport"
  >
    {% if article.cover is defined %}<img
      class="cover with-lazy-load"
      src=""
      alt="Kuvituskuva artikkelille"
      data-lazy-image="{{article.cover}}"
    />{% endif %}
    <time datetime="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </time>
    <h2>
      <a
        class="read-more"
        href="{{ SITEURL }}/{{ article.url }}"
        title="Linkki artikkeliin {{ article.title|striptags }}"
        >{{ article.title }}</a
      >
    </h2>
    <p>{{ article.summary }}</p>
    <div class="article-nav">
      <a
        class="read-more"
        href="{{ SITEURL }}/{{ article.url }}"
        title="Linkki artikkeliin {{ article.title|striptags }}"
        >Lue lisää...</a
      >
      {% for tag in article.tags %}
      <a
        class="category"
        href="{{ SITEURL }}/tag/{{ tag }}.html"
        title="Arkistosivu kategorialle {{ tag }}"
      >
        {{ tag }}
      </a>
      {% endfor %}
    </div>
  </article>

  {% endfor %} {% if articles_page.has_other_pages() %} {% include
  'pagination.html' %} {% endif %}
</main>
{% endblock content %}
